leadgen-admin,
leadgen-admin * {
    transform-style: initial !important;
    padding: 0;
    font-family: 'AvenirMedium-Leadgen';
}

.leadgen-admin-c-method {
    text-align: center;

    i {
        height: 15px;
        width: 15px;
        display: inline-block;
        background: green;
        border-radius: 50%;
    }

    span {
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 3px 15px;
        border: 1px solid rgba(255,255,255,0.25);
        font-size: 13px;
        border-radius: 4px;
    }
}

.leadgen-admin-webview {
    background: rgba(0,0,0,0.70);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.leadgen-admin-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
}

.leadgen-admin,
.leadgen-admin-button {
    z-index: 9999999999999;
}

.leadgen-admin-test-warning {
    color: #fff !important;
    background: #d9534f;
    padding: 20px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    z-index: 9999999;
    top: 0;

    .inner {
        position: relative;
    }

    i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.8rem;
    }
}

.leadgen-admin {
    font-size: 18px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #4da283;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .btn.btn-danger {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .form-control {
        border: none;
        border-radius: 0;
        letter-spacing: .5px;
        color: #555 !important;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .leadgen-main-container {
        display: table;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        &.leadgen-disabled {
            padding: 10px;
            box-sizing: border-box;

            .btn.login {
                margin: 0 !important;
            }

            .leadgen-main-container-cell {
                .options-area {
                    border-radius: 10px;
                }
             }
        }

        .leadgen-main-container-cell {
            display: table-cell;
            width: 40%;
            vertical-align: middle;
            box-sizing: border-box;
            max-height: 500px;
            margin: 0 5%;
            overflow: auto;

            .options-area {
                box-sizing: border-box;
                border-radius: 0 10px 10px 0;
                background: rgba(0,0,0,0.25);
                padding: 10px 0;
            }
        }
    }

    @import "admin-leads.scss";
    @import "button.scss";
    @import "admin-num-pad.scss";
    @import "loader.scss";
    @import "advanced-screen.scss";

    select,
    .chosen-container[style] {
        width: 100% !important;
        max-width: 400px;
    }

    .main {
        // margin-left: 300px;
        color: #fff;
        text-align: center;
    }

    .menu {
        color: #fff;

        ul {
            display: flex;
            list-style: none;
            margin-bottom: 30px;

            li {
                flex: 1 1 auto;
                font-size: 18px;
                text-align: center;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                padding: 20px;
                cursor: pointer;

                &:last-of-type {
                    border-right: 0;
                }

                &.active {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }

    .footer {
        font-size: 18px;
        position: fixed;
        right: 0;
        bottom: 10px;
        left: 0;
        text-align: center;
        z-index: -1;

        span {
            color: #fff;
            display: inline-block;
            padding: 10px;
        }
    }
}